@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;500&display=swap");

.temperature {
  color: black;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}

.cityname {
  color: black;
  font-family: "Montserrat", sans-serif;
}

.humidity {
  color: black;
}

.windSpeed {
  color: black;
}
